.table__wrapper {
  margin: 3rem 0;
  align-self: center;
  min-width: 80%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.1rem;
}

.table__interactive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__search {
  font-size: 1.1rem;
}

.table__search > label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__search > label > input {
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #00000050;
  padding: 0.5rem;
}
.table__search > label > input:focus {
  border-color: #0cb7e2;
}

.table__button {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  /* margin: 0 0.5rem;
  margin-left: auto;
  margin-bottom: 1rem; */
  color: rgba(0, 0, 0, 0.87);
  background-color: #0cb7e2;
  transition: all 0.3s ease-in-out;
}

.table__button:hover {
  box-shadow: 0 0 5px #232c3b;
  background-color: #00ccff;
}

table.customTable {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  color: #000000;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 5px #232c3b;
}

table.customTable td,
table.customTable th {
  border-width: 1px;
  border-color: #e0e0e0;
  border-style: solid;
  padding: 0.3rem 0.5rem;
}

table.customTable thead {
  font-weight: bold;
  background-color: #f6f7f9;
}

.pagination {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5rem;
}

.pagination__button {
  font-family: Lemonada, cursive;
  font-size: 1rem;
}

.pagination__input {
  border: 1px solid #000;
  height: 100%;
  padding: 0.1rem 0 0.1rem 0.5rem;
}

.pagination__select {
  border: 1px solid #000;
}
