.dashboardHeader {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px 1px #231e36;
}

.dashboardHeader__title {
  font-size: 1.3rem;
}

.logout {
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;

  margin-left: auto;
  color: rgba(0, 0, 0, 0.87);
  background-color: #0cb7e2;
  transition: all 0.3s ease-in-out;
}

.logout:hover {
  box-shadow: 0 0 5px #232c3b;
  background-color: #00ccff;
}
