.productsWrapper {
  width: 100%;
  padding: 1rem;
  height: 100%;
}
.products__title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.products {
  max-width: 1500px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.products__content {
  background-color: #fff;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  height: inherit;
  column-gap: 1.5rem;
}

.MyShoppingList__wrapper {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f38a679f;
}

.MyShoppingList__button {
  background-color: #d64141;
  color: #f8f8f8;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 3px black;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .productsWrapper {
    padding: 3rem 1rem;
  }

  .MyShoppingList {
    position: sticky;
    top: 7rem;
  }

  .products__content {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, auto);
  }

  .productsGrid__wrapper {
    grid-column: 1 / span 8;
    grid-row: 2 / span 11;
  }

  .search__wrapper {
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
  }

  .MyShoppingList__wrapper {
    background-color: transparent;
    padding: 0;
    grid-column: 9 / span 4;
    grid-row: 1 / span 12;
    position: relative;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .productsGrid__wrapper {
    grid-column: 1 / span 9;
    grid-row: 2 / span 11;
  }

  .search__wrapper {
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
  }

  .MyShoppingList__wrapper {
    grid-column: 10 / span 3;
    grid-row: 1 / span 13;
  }
}
