.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  position: relative;
}

.layout__content {
  align-items: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.sideMenu {
  z-index: 2;
  position: sticky;
  top: 0;
  min-width: 16rem;
  box-shadow: 0px 0 5px rgba(14, 14, 14, 0.5);
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
