.search {
  margin-bottom: 2rem;
}

.search input {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px black;
  width: 100%;
}
