.ventas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  min-height: 13rem;
  background: linear-gradient(to right, #1b2330 0%, #252f3e 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}

.stepper {
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  width: 100%;
  z-index: 1;
}

.title {
  font-size: 1.8rem;
  color: #fff;
}

.step {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 2rem;
  left: -200vw;
  bottom: 0;
  position: absolute;
}

.stepsList__title {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.stepActive {
  position: unset;
  opacity: 1;
}

.shoppingCartList {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}
