.newCategoryForm {
  /* background-color: aquamarine; */

  box-shadow: 0 0 3px rgb(27, 35, 48);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.newCategoryForm__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 1rem;
  /* background-color: #0cb7e2; */
  position: relative;
  /* background-color: #0cb7e2; */
}

.form__group label {
  /* width: auto; */
  height: 50%;
  /* overflow: auto; */
  margin: auto;
  background-color: #0cb7e2;
  position: absolute;
  top: 0;
  /* left: 0; */
  bottom: 0;
  /* right: 0; */
}

.form__group input {
  border: 1px solid rgb(216, 216, 216);
  padding: 0.8rem 0.5rem;
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border 0.3s ease-in-out;
}

.form__group input:focus {
  border: 1px solid black;
  position: relative;
  border: 1px solid #0cb7e2;
}

/* .form__group input:focus::placeholder { */
/* color: red; */
/* position: absolute; */
/* top: -0; */
/* height: 100%; */
/* background-color: #0cb7e2; */
/* } */

.newCategoryForm__buttonsGroup {
  display: flex;
  justify-content: space-evenly;
}

.newCategoryForm__buttonsGroup > button {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  /* box-shadow: 0 0 4px; */
}

.buttonsGroup__save {
  color: rgba(0, 0, 0, 0.87);
  background-color: #0cb7e2;
}
.buttonsGroup__cancel {
  background-color: #1b2330;
  color: #fff;
}
