.form__loginButton {
  background-color: #d64141;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #fc4c4c;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 0.8rem;
  margin-left: auto;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
  line-height: 1;
}

.form__loginButton:hover {
  transform: scale(0.9);
  background-color: #fc4c4c;
  box-shadow: 0 0 5px #231e36;
}

.form__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
