.product__details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product__img {
  min-width: 8rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 1rem;
}

.product__quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
}

.product__quantity button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  background-color: #e6e6e6;
  transition: background 0.3s ease;
}

.product__quantity button:hover {
  background-color: #fc4c4c;
  color: #f8f8f8;
}

.deleteButton {
  padding: 0.2rem 0;
  color: #ff0000a6;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  font-weight: 600;
}

.deleteButton:hover {
  color: #ff0000;
  font-size: 1rem;
}

.product__quantity input {
  max-width: 2em;
  height: 2em;
  text-align: center;
  font-size: 1rem;
}

.product__quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.product__name {
  text-align: left;
  font-weight: bold;
}

.product__price,
.product__subtotal {
  font-weight: 600;
  text-align: right;
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .product__quantity {
    flex-direction: row-reverse;
  }
}
