.shoppingCartProductsGrid__item {
  border-bottom: 1px solid #c7c7c7;
  display: grid;
  grid-template-columns: auto 5rem auto minmax(4rem, 0.7fr) auto;
  margin: 0 0.5rem 1rem 0.5rem;
  column-gap: 1rem;
  align-items: center;
  padding-bottom: 1rem;
}

.shoppingCartProductsGrid__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.shoppingCartProductsGrid__item button {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #e6e6e6;
  padding: 0.5rem;
  border-radius: 100%;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__img {
  width: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.product__quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__quantity button:hover {
  background-color: #231e36;
  color: #f8f8f8;
}

.deleteButton {
  place-self: center;
}
.deleteButton:hover {
  background-color: rgba(255, 0, 0, 0.555);
}

.product__quantity input {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin: 0.2rem 0;
  text-align: center;
  max-width: 4ch;
  border: 1px solid #c7c7c7;
}

.product__quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.product__name {
  text-align: left;
  font-weight: bold;
}

.product__price {
  font-weight: 600;
  text-align: right;
}

@media only screen and (min-width: 900px) {
  .shoppingCartProductsGrid__item {
    column-gap: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px #231e36;
  }
  .shoppingCartProductsGrid__item:last-child {
    padding-bottom: 0.5rem;
  }

  .product__quantity {
    flex-direction: row;
  }

  .product__quantity button {
    margin: 0 0.5rem;
  }
}
