.container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 1400px;
  padding: 3rem 1rem;
  justify-items: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-direction: column;

  min-width: 10rem;
  height: 100%;
  border-right: 1px solid #35353550;
  width: max-content;
}

.grid__item {
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.grid__item:hover {
  background-color: #fc4c4c80;
}

.active {
  background-color: #fc4c4c80;
}
