.container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  max-width: 1400px;
  padding: 3rem 1rem;
  height: 100%;
  min-height: 80vh;
}

.sidebar {
  margin-right: 1rem;
}

.grid {
  display: flex;
  flex-direction: column;
  /* min-width: 10rem; */
  height: 100%;
  border-right: 1px solid #35353550;
  width: max-content;
}

.grid__item {
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 1.5rem auto;
  align-items: center;
  column-gap: 0.5rem;
}

.grid__item > span {
  display: none;
}
.grid__item > i {
  place-self: center;
}

.grid__item:hover {
  color: #fc4c4c;
}

.active {
  color: #fc4c4c;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .grid__item > span {
    display: initial;
  }
}
