.mainHeader {
  background-color: #b84444;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  position: sticky;
  box-shadow: 0 0 3px #625f6f;
  top: 0;
  z-index: 3;
  overflow: hidden;
}

.shoppingCartIcon {
  color: #2e2e2e;
  display: block;
  position: relative;
}

.shoppingCartBadge {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  top: -1rem;
  right: -1rem;
  /* right: inherit; */
  padding: 0px 10px;
  color: rgb(197, 0, 0);
}

@media only screen and (min-width: 768px) {
  .mainHeader {
    height: 5rem;
  }
}
