.mainHeader {
  background-color: #b84444;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  align-items: center;
  position: sticky;
  box-shadow: 0 0 3px #625f6f;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.shoppingCartIcon {
  color: #2e2e2e;
}

@media only screen and (min-width: 768px) {
  .mainHeader {
    height: 5rem;
  }
}
