.shopingCart__wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.shopingCart {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.shopingCart__title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.shopingCart__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shoppingCartProductsGrid__wrapper {
  width: 100%;
  max-height: 70vh;
  overflow-y: scroll;
  box-shadow: 0 0 2px black;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  align-self: flex-start;
}

@media only screen and (min-width: 900px) {
  .shopingCart__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: none;
    overflow: initial;
    margin: auto;
  }

  .shoppingCartProductsGrid__wrapper {
    max-width: 60%;
    max-height: 100%;
    overflow: unset;
    box-shadow: none;
  }
}
