.nav__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav__gridItem {
  margin: 0.5rem 0;
}

.nav__link {
  text-align: center;
  font-weight: bold;
  padding: 0 0.5rem;
  min-height: 2rem;
  min-width: 10rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.nav__link:hover {
  border-radius: 0.2rem;
  color: #231e36;
  background-color: #fc4c4c;
}

.nav__gridButtons {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  padding: 0 2rem;
}

.nav__gridButtons > button {
  color: #f8f8f8;
  background-color: #fc4c4c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.nav__gridButtons > button:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .nav__grid {
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }

  .nav__gridButtons {
    display: none;
  }

  .nav__gridItem {
    margin: 1rem;
    position: relative;
  }

  .nav__link {
    margin: 0;
    min-width: none;
    display: inline;
    border-radius: 0;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  .nav__link:hover {
    border-radius: 0.5rem;
    color: #f8f8f8;
    background-color: #fc4c4c;
  }
}
