.dashboardForm {
  box-shadow: 0 0 3px rgb(27, 35, 48);
  padding: 2.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.dashboardForm__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form__content {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 0.5rem;
}

.form__group input,
.form__group select,
.form__group textarea {
  font-family: 'Nunito', sans-serif;
  border: 1px solid rgb(216, 216, 216);
  padding: 0.5rem;
  outline: none;
  display: block;
  width: 100%;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  transition: border 0.3s ease-in-out;
}

.form__group input:focus,
.form__group select:focus,
.form__group textarea:focus {
  border: 1px solid black;
  position: relative;
  border: 1px solid #0cb7e2;
}

.dashboardForm__buttonsGroup {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}

.dashboardForm__buttonsGroup > button {
  border-radius: 0.8rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.buttonsGroup__save {
  color: rgba(0, 0, 0, 0.87);
  background-color: #0cb7e2;
}

.buttonsGroup__save:hover {
  box-shadow: 0 0 5px #232c3b;
  background-color: #00ccff;
}
.buttonsGroup__cancel {
  background-color: #1b2330;
  color: #fff;
}
.buttonsGroup__cancel:hover {
  box-shadow: 0 0 5px #232c3b;
  background-color: #29374e;
}
