@import url('./reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');
html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: bold;
}

body {
  line-height: 1.5;
  max-width: 100vw;
  min-height: 100vh;
}

/* body::-webkit-scrollbar {
  display: none;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lemonada', cursive;
}

button {
  background-color: transparent;
  border-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input,
select {
  border: none;
  outline: none;
}
.container_tableProducts {
  padding: 10px;
  width: 90%;
  margin: auto;
}

/* #__next {
  background-color: aqua;
  min-height: 100vh;
  height: 100%;
  max-height: fit-content;
} */

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1b2330;
}

body::-webkit-scrollbar-track-piece {
  color: #fc4d4d;
}

body::-webkit-scrollbar-thumb {
  background-color: #fc4d4ddd;
  border-radius: 0.5rem;
}

.container,
.container_fluid,
.container_lg,
.container_md,
.container_sm,
.container_xl,
.container_xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container_sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container_md,
  .container_sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm,
  .container_xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container_lg,
  .container_md,
  .container_sm,
  .container_xl,
  .container_xxl {
    max-width: 1320px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
  .col-md {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .col-md-auto {
    width: auto;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-1,
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-3,
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-5,
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-7,
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-9,
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-11,
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .col-md-12 {
    width: 100%;
  }
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 0.7em;
}
.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}
.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
