.container {
  /* min-height: inherit; */
  min-height: 100vh;
  /* height: auto; */
  /* max-width: 100vw; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* background-color: bisque; */
}

/* .container::-webkit-scrollbar {
  display: none;
}

*/
.mainContent {
  /* height: auto; */
  display: flex;
  flex-direction: column;
}
