.shopingCart__form {
  border-radius: 0.5rem;
  box-shadow: 0 0 10px 1px #231e3650;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  z-index: 2;
}

.shopingCart__form textarea {
  padding: 0.5rem;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  border: 1px solid #c7c7c7;
  resize: none;
}

.form__paragraph {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-family: Lemonada, cursive;
  font-weight: 600;
}

.form__button {
  background-color: #d64141;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #fc4c4c;
  color: #f8f8f8;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.3rem 1rem;
  transition: all 0.3s ease-in-out;
}

.form__button:hover {
  background-color: #fc4c4c;
  transform: scale(1.02);
}

.form__button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (min-width: 900px) {
  .shopingCart__form {
    align-self: flex-start;
    align-self: flex-start;
    border-radius: 1rem;
    margin-left: 1rem;
    max-width: 25rem;
    padding: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
  }

  .shopingCart__form textarea {
    margin-top: 2rem;
    order: 3;
  }
}
